<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Marathon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Marathon.Properties.Settings>
            <setting name="Workspace_WindowState" serializeAs="String">
                <value>Maximized</value>
            </setting>
            <setting name="Workspace_WindowWidth" serializeAs="String">
                <value>1280</value>
            </setting>
            <setting name="Workspace_WindowHeight" serializeAs="String">
                <value>720</value>
            </setting>
            <setting name="Modding_GameExecutable" serializeAs="String">
                <value />
            </setting>
            <setting name="Modding_ManagerDetailsVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Modding_ModsDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="Workspace_RibbonCollapsed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Output_ToggleWordWrap" serializeAs="String">
                <value>False</value>
            </setting>
        </Marathon.Properties.Settings>
    </userSettings>
</configuration>