<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sonic_06_Toolkit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Sonic_06_Toolkit.Properties.Settings>
            <setting name="env_gameDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="set_backupSET" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="set_deleteXML" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="log_refreshTimer" serializeAs="String">
                <value>1000</value>
            </setting>
        </Sonic_06_Toolkit.Properties.Settings>
    </userSettings>
</configuration>