<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Toolkit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Sonic_06_Toolkit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Toolkit.Properties.Settings>
            <setting name="env_gameDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="set_backupSET" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="set_deleteXML" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="log_refreshTimer" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="xex_Encryption" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="xex_Compression" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="xex_System" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="sss_Encoder" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="sss_PatchXMA" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="tex_Compression" serializeAs="String">
                <value>-f R8G8B8A8_UNORM</value>
            </setting>
            <setting name="tex_Mode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="log_Startup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="env_firstLaunch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="env_updaterDisabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="env_gameDirDisabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="log_X" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="log_Y" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="log_windowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="log_timestamps" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="log_priority" serializeAs="String">
                <value>0</value>
            </setting>
        </Toolkit.Properties.Settings>
        <Sonic_06_Toolkit.Properties.Settings>
            <setting name="env_gameDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="set_backupSET" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="set_deleteXML" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="log_refreshTimer" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="xex_Encryption" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="xex_Compression" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="xex_System" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="sss_Encoder" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="sss_PatchXMA" serializeAs="String">
                <value>True</value>
            </setting>
        </Sonic_06_Toolkit.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>