<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Toolkit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Toolkit.Properties.Settings>
            <setting name="AccentColour" serializeAs="String">
                <value>186, 0, 0</value>
            </setting>
            <setting name="AutoColour" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="HighContrastText" serializeAs="String">
                <value>False</value>
            </setting>
        </Toolkit.Properties.Settings>
    </userSettings>
</configuration>