<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Marathon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Marathon.Properties.Settings>
            <setting name="TestSetting1" serializeAs="String">
                <value>blah</value>
            </setting>
            <setting name="TestSetting2" serializeAs="String">
                <value>banana</value>
            </setting>
            <setting name="TestSetting3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TestSetting4" serializeAs="String">
                <value>64</value>
            </setting>
        </Marathon.Properties.Settings>
    </userSettings>
</configuration>